.lang-btn {
    cursor: pointer;
    display:block;
    border:2px solid $color-headlines;
    width:3.5rem;// @include break()
    height:3.5rem;// @include break()
    font-size:0.65rem;// @include break()

    opacity:0;
    animation: show 1s ease-in 1.5s forwards; //footer.scss

    transition: all 0.25 ease-in-out;

    margin-bottom:0.8rem;
    margin-left:0.7rem;
    @include break (576px) {//iphone6/7/8 === 414px
        width:4rem;
        height:4.2rem;
        font-size:0.8rem;
        margin-bottom:0.8rem;
        margin-left:1rem;
    }
    .lang-links {
        margin-left:-2.5rem;
        margin-top:0.4rem;
        .lang-item {
            margin-top:0.2rem;
            transition: all .25s ease-in-out;
            &:hover {
                transform:scale(1.2)
            }
            @include break (576px) {//iphone6/7/8 === 414px
                margin-top:0.3rem;
            }
        }
    }
}