.loading {
    background-color:black;
    position:absolute;;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 100;
    
    #loader{
        position: absolute;
        width:50%;
        height:auto;
        left: 50%;
        top:50%;
        transform: translate(-50%, -50%);
        z-index: 100;
    }
}

